.footer {
  background-color: #f2da91;
  padding-top: 1.5rem; 
  padding-bottom: 1.5rem;
  
  .container {
    padding-bottom: 0;
    
    @media (max-width: 768px) {    
      padding-left: 1.5rem;
    }  

    @media (min-width: 1024px) and (max-width: 1035px) {
      padding-left: 2.5rem;      
    }
  }
}

.footer-links {
  font-size: 1.125rem; /* text-lg */
  color: black;

  li {
    margin-bottom: 0.5rem; /* mb-2 */
  }
}
